form {
    margin: 70px auto;
    width: 400px;
}

button{
    width: 100%;
    height: 60px;
    background-color: #17a2ff;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: 'Lalezar', cursive;
    font-size: 25px;
}

form div.mdl-textfield{
    width: 100%;
    margin: 10px auto;
}

.mdl-textfield__label{
    color: dodgerblue;
}
.mdl-textfield--floating-label.is-invalid .mdl-textfield__label{
    color: dodgerblue;
}
.mdl-textfield.is-invalid .mdl-textfield__label:after{
    background-color: dodgerblue;
}

.mdl-textfield.is-invalid .mdl-textfield__input{
    border-color: dodgerblue;
}

.auth-link{
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    color: black;
}

.auth-link a{
    text-decoration: none;
    font-weight: bold;
    color: #17a2ff;
}

@media screen and (max-width: 480px){
    form{
        width: 300px;
    }
}
