{% extends "srs/srs.html" %}
{% load static %}


{% block internal_css %}
    {{ block.super }}
    <link href="{% static "home/css/home.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="main">
        <div class="content">
            <a href="{% url "authentication:register" %}" class="btn">
                ثبت نام
            </a>
            <a href="{% url "authentication:login" %}" class="btn">
                ورود
            </a>
            <p>
                تئوری دهم، سیستمی برای خلق خدمات و محصولات نوین
            </p>
            <a href="https://www.10.center/" target="_blank"><img src="{% static "home/images/10-Logo_100x100.png" %}"></a>
        </div>
    </div>
{% endblock %}