/* HEADER */
header.mdl-layout__header {
    background-color: white;
    color: dodgerblue;
    font-family: 'Lalezar', cursive;
}


.mdl-layout__header span.mdl-layout-title {
    display: block;
    margin: 0 auto;
    font-family: inherit;
}

/* FORM */

input[type=text],
input[type=email],
input[type=password] {
    direction: rtl;
    text-align: right;
}

input[type=file] {
    padding-top: 20px;
}

select[name=grade]{
    padding-top: 13px;
}

div.mdl-textfield a{
    margin-right: 85px;
}
div.mdl-textfield input[name=image-clear],
div.mdl-textfield label[for=image-clear_id]{
    display: none;
}
label.mdl-textfield__label {
    text-align: right;
    direction: rtl;
    font-family: 'Lalezar', cursive;
}

.mdl-textfield__error {
    position: inherit;
}

form .mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    font-size: 15px;
}


@media screen and (max-width: 1024px) {
    header.mdl-layout__header {
        display: block;
    }
}
