form {
    margin: 30px auto;
    width: 400px;
}

button{
    width: 100%;
    height: 60px;
    background-color: #17a2ff;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: 'Lalezar', cursive;
    font-size: 25px;
}

form div.mdl-textfield{
    width: 100%;
}

.mdl-textfield__label{
    color: dodgerblue;
}
.mdl-textfield--floating-label.is-invalid .mdl-textfield__label{
    color: dodgerblue;
}
.mdl-textfield.is-invalid .mdl-textfield__label:after{
    background-color: dodgerblue;
}

.mdl-textfield.is-invalid .mdl-textfield__input{
    border-color: dodgerblue;
}

div.mdl-card__title{
    margin: 0 auto;
    border-bottom: 1px solid gray;
}
.info{
    margin-right: 20px;
}
.info span{
    color: dodgerblue;
    font-weight: bold;
}

.detail table.mdl-data-table{
    margin: 0 auto;
}

.detail table th.mdl-data-table__cell--non-numeric,.detail table td.mdl-data-table__cell--non-numeric {
    text-align: center;
}

.detail .card{
    margin: 0 auto;
}
.update-btn{

}

@media screen and (max-width: 480px){
    form{
        width: 300px;
    }
}
