{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block external_css %}
        <!-- MDL -->
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Lalezar&display=swap" rel="stylesheet">

    {% endblock %}
    {% block internal_css %}
        <link href="{% static "srs/css/custom.css" %}" rel="stylesheet">
    {% endblock %}
    <title>
        {% block page_title %}
            تئوری دهم
        {% endblock %}
    </title>

</head>
<body style="direction: rtl">
{% block body %}
{% endblock %}
{% block javascripts %}
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{% endblock %}
</body>
</html>