.main {
    background-image: linear-gradient(to top right, #1775c4 0%, #17a2ff 70%);
    background-size: cover;
    min-height: 730px;
}

.main .content {
    font-family: 'Lalezar', cursive;
    padding-top: 170px;
}
.main .content p{
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 30px;
}

.main .content img{
    display: block;
    margin: 0 auto;
}

.btn {
    background-color: white;
    display: block;
    width: 300px;
    height: 60px;
    margin: 10px auto;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    text-decoration: none;
    color: #17a2ff;
    border-radius: 3px;
}

.btn:hover{
    transition-duration: 500ms;
    opacity: 0.8;
}