<form method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-invalid">
            {{ field }}
            <label for="{{ field.id_for_label }}" class="mdl-textfield__label">{{ field.label }}</label>
            <span class="mdl-textfield__error">
        {% if field.errors %}
            {% for error in field.errors %}
                {{ error }}{% if not forloop.last %}<br/>{% endif %}
            {% endfor %}
        {% endif %}
        </span>
        </div>
        <br>
    {% endfor %}
    <button type="submit">
        {% if login %}
            ورود
        {% else %}
            ثبت نام
        {% endif %}
    </button>
    {% if login %}
        <div class="auth-link">حساب کاربری ندارید؟ <a href="{% url "authentication:register" %}">ثبت نام کنید</a></div>
    {% else %}
        <div class="auth-link">حساب کاربری دارید؟ <a href="{% url "authentication:login" %}">وارد شوید</a></div>
    {% endif %}
</form>
