<form method="get">
    {% for field in form.visible_fields %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-invalid">
            {{ field }}
            <label for="{{ field.id_for_label }}" class="mdl-textfield__label">{{ field.label }}</label>
        </div>
        <br>
    {% endfor %}
    <button type="submit">
        جست و جو
    </button>
</form>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">نام</th>
        <th class="mdl-data-table__cell--non-numeric">نام خانوادگی</th>
        <th class="mdl-data-table__cell--non-numeric">نام پدر</th>
    </tr>
    </thead>
    <tbody>
    {% for student in same_grade_students %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">{{ student.first_name }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ student.last_name }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ student.father_name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>