<div class="mdl-card mdl-shadow--2dp card">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">مشخصات دانش آموز</h2>
    </div>
    <div class="info">
        <span>نام:</span>
        <p>{{ student.first_name }}</p>
        <span>نام خانوادگی:</span>
        <p>{{ student.last_name }}</p>
        <span>مقطع:</span>
        <p>{{ student.grade }}</p>
        <span>نام پدر:</span>
        <p>{{ student.father_name }}</p>
        <span>کد ملی:</span>
        <p>{{ student.national_id }}</p>
    </div>
    <a href="{% url "students:edit" student.id %}" class="update-btn">
        <button class="btn" type="submit">به روز رسانی</button>
    </a>
</div>