{% extends "srs/srs.html" %}
{% load static %}

{% block internal_css %}
    {{ block.super }}
    <link href="{% static "students/css/students.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="detail">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                {% include "students/includes/student_info.html" %}

            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                {% include "students/includes/same_grade_students.html" %}
            </div>
        </div>
    </div>
{% endblock %}